@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  
}

body {
    font-family: 'DM Sans', sans-serif;
}

*::-webkit-scrollbar {
    display: none !important;
  }
  .bg-radial-gradient {
    background-image: radial-gradient(
      circle at 10% 20%,
      rgba(4, 159, 108, 1) 0%,
      rgba(194, 254, 113, 1) 90.1%
    );
  }